.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f8ede3; /* Fondo beige claro */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding: 20px;
    background-color: #F2E5DB;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

h1 {
  text-align: center;
  color: #6b4226; /* Marrón oscuro */
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: #6b4226; /* Marrón oscuro */
}

input[type="text"],
select,
input[type="file"] {
  padding: 0.75rem;
  border: 1px solid #d3b8a6; /* Marrón claro */
  border-radius: 5px;
  background-color: #fdf6f0; /* Fondo beige más claro */
  font-size: 1rem;
  color: #6b4226; /* Marrón oscuro */
}

input[type="text"]:focus,
select:focus,
input[type="file"]:focus {
  outline: none;
  border-color: #a67c52; /* Marrón intermedio */
  box-shadow: 0 0 4px rgba(166, 124, 82, 0.5);
}

button {
  padding: 0.75rem;
  background-color: #a67c52; /* Marrón intermedio */
  color: #fff; /* Blanco */
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6b4226; /* Marrón oscuro */
}

button:active {
  background-color: #5a3620; /* Marrón más oscuro */
}

input[type="file"] {
  padding: 0.5rem;
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  background-color: #a67c52; /* Marrón intermedio */
  color: #fff; /* Blanco */
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="file"]::file-selector-button:hover {
  background-color: #6b4226; /* Marrón oscuro */
}

input[type="file"]::file-selector-button:active {
  background-color: #5a3620; /* Marrón más oscuro */
}