.form-container {
  flex: 1;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 2rem;
  background-color: #ffffff; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: #4a4a4a; 
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: #4a4a4a; 
}

input[type="text"],
select,
input[type="file"] {
  padding: 0.75rem;
  border: 1px solid #e0e0e0; 
  border-radius: 8px; 
  background-color: #fdfdfd; 
  font-size: 1rem;
  color: #4a4a4a; 
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
}

input[type="text"]:focus,
select:focus,
input[type="file"]:focus {
  outline: none;
  border-color: #a67c52; 
  box-shadow: 0 0 4px rgba(166, 124, 82, 0.5); 
}

button {
  padding: 0.75rem;
  background-color: #4CAF50; 
  color: #fff; 
  border: none;
  border-radius: 8px; 
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #45a049; 
  transform: translateY(-2px); 
}

button:active {
  background-color: #3e8e41; 
  transform: translateY(0); 
}

input[type="file"] {
  padding: 0.5rem;
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  background-color: #4CAF50; 
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="file"]::file-selector-button:hover {
  background-color: #45a049; /* Verde más oscuro */
}

input[type="file"]::file-selector-button:active {
  background-color: #3e8e41; /* Verde más oscuro al hacer clic */
}

@media (max-width: 480px) {
  .form-container {
    width: 90%;
    padding: 1.5rem;
    margin: 100px auto 60px auto;
    box-sizing: border-box;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  label {
    font-size: 0.95rem;
  }

  input[type="text"],
  select,
  input[type="file"] {
    font-size: 0.95rem;
    padding: 0.65rem;
  }

  input[type="file"]::file-selector-button {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }

  button {
    font-size: 1rem;
    padding: 0.9rem;
  }
}
