.navbar {
    background-color: #713001;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px;
    padding-top: 10px;
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    z-index: 1000;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbar-logo img {
    height: 35px;
    width: auto;

  }
  
  .navbar-links {
    display: flex;
    gap: 2rem;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #f2f2f2;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #007bff;
  }
  