
.home-admin-container {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 60px; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f4f4f4; 
    min-height: 100vh; 
}


.title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #4C2400; 
    text-align: center;
    margin-bottom: 20px; 
}


.publish-button {
    background-color: #7D4230; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px; 
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 20px; 
}

.publish-button:hover {
    background-color: #482e23; 
    transform: translateY(-2px);
}

.publish-button:active {
    background-color: #7D4230; 
    transform: translateY(0); 
}


.menu-posts {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    width: 100%;
    margin-top: 20px;
}


.menu-post {
    background-color: #ffffff; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    width: 300px; 
    display: flex;
    flex-direction: column;
    gap: 10px; 
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

.menu-post:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


.menu-post h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #4a4a4a; 
    margin-bottom: 10px;
}


.menu-post p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #666; 
    margin: 5px 0;
    line-height: 1.5;
}


.action-button {
    background-color: #713001; 
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    align-self: flex-start; /* Alinea el botón al inicio */
}

.action-button:hover {
    background-color: #925a1a; /* Marrón más claro */
    transform: translateY(-2px); /* Eleva el botón al pasar el mouse */
}

.action-button:active {
    background-color: #5a2600; /* Marrón más oscuro */
    transform: translateY(0); /* Restaura la posición */
}